* {
    margin: 0;
    padding: 0;
}
.h21 {
    margin-top: 15rem;
}
body{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: yellow;
}
.h21 {
    font-size: 4.5rem;
    margin-bottom: 3rem;

}
input {
    padding: 1rem;
    font-size: 1.2rem;
    border: 2px solid rgb(255, 153, 0);
    margin-bottom: 2rem;
    border-radius: 5px;
}
button {
    font-size: 1rem;
   background-color: aqua;
   color: brown;
   border: 2px solid rgb(255, 153, 0);
   padding: 0.8rem 1.8rem;
   margin-bottom: 3rem;
}
.result {
    font-size: 2rem;
}